li a {
    color: green;
}
body {
    /* background: white url("images/background.gif"); */
    background-image: url("images/bg.jpg");
    height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
